name: CI
on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    name: Pre-commit Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0.9.1
        with:
          environments: pre-commit
      - name: Install dependencies
        run: pixi run -e pre-commit pnpm install
      - name: Cache pre-commit
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml', 'pixi.lock') }}
      - name: Run pre-commit
        run: pixi run -e pre-commit pre-commit run --all-files --show-diff-on-failure --color=always

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0.9.1
        with:
          environments: terraform
      - name: Install dependencies
        run: pixi run -e terraform pnpm install
      - name: Run tests
        run: pixi run -e terraform npm run test
